<div class="shell">
<h1>Thank you for visiting this website!</h1>
<p>Before you go, please conceder reviewing the following take-aways and links</p>
<br>

<h2><u>Take Aways</u></h2>
<p>Relevant WCAG success criterion are shown in parentheses</p>
<br>
<h4>Dexterity</h4>
<ul>
    <li>Ensure your website is operable through a keyboard interface (2.1.1)</li>
    <li>Ensure focus of current element is visible when using a keyboard interface (2.4.7)</li>
    <li>Ensure touchpoints such as buttons are large (2.5.5)</li>
</ul>
<h4>Vision</h4>
<ul>
    <li>Ensure color is not the only visual means of conveying information (4.1.1) </li>
    <li>Ensure contrast for text is above the minimum ratio (1.4.3/ 1.4.6)</li>
    <li>Ensure font size can be increased up to 200 percent without loss of content or functionality (1.4.4)</li>
</ul>
<h4>Screen Readers</h4>
<ul>
    <li>Ensure non-text content such as images have alt text (1.1.1)</li>
    <li>Ensure the purpose and redirection of each link is clear (2.4.4)</li>
    <li>Ensure proper HTML tags, headings, and labels are used (2.4.6)</li>
    <li>Ensure proper labels are present for form inputs (3.3.2)</li>
</ul>

<br>
<h2><u>Resources</u></h2>
<p>If you would like to learn more see the following resources</p>
<ul style="font-size: 1.2em">
    <li><a href="https://www.w3.org/TR/WCAG21/">Full WCAG guidelines</a></li>
</ul>

<br>
<h2><u>Help Out</u></h2>
<p>See the following link if you want to help contribute to making a more accessible world</p>
<ul style="font-size: 1.2em">
    <li><a href="https://knowbility.org/">Donate to Knowbility</a></li>
</ul>
</div>
