<div class="shell">
<h1>Thank you for visiting this website!</h1>
<p>Before you go, please conceder reviewing the following take-aways and links</p>
<br>

<h2><u>Take Aways</u></h2>
<p>Relevant WCAG success criterion are shown in parentheses</p>
<br>
<h4>Dexterity</h4>
<ul>
    <li>Ensure your website is operable through a keyboard interface (2.1.1)</li>
    <li>Ensure focus of current element is visible when using a keyboard interface (2.4.7)</li>
    <li>Ensure touchpoints such as buttons are large (2.5.5)</li>
</ul>
<h4>Vision</h4>
<ul>
    <li>Ensure color is not the only visual means of conveying information (4.1.1) </li>
    <li>Ensure contrast for text is above the minimum ratio (1.4.3/ 1.4.6)</li>
    <li>Ensure font size can be increased up to 200 percent without loss of content or functionality (1.4.4)</li>
</ul>
<h4>Screen Readers</h4>
<ul>
    <li>Ensure non-text content such as images have alt text (1.1.1)</li>
    <li>Ensure the purpose and redirection of each link is clear (2.4.4)</li>
    <li>Ensure proper HTML tags, headings, and labels are used (2.4.6)</li>
    <li>Ensure proper labels are present for form inputs (3.3.2)</li>
</ul>

<br>
<h2><u>Resources</u></h2>
<p>See the following resources if you would like to learn more</p>
<ul style="font-size: 1.2em">
    <li><a href="https://www.w3.org/TR/WCAG21/">W3C's full WCAG guidelines</a></li>
    <li><a href="https://www.w3.org/WAI/tutorials/">W3C's Tutorials </a></li>
    <li><a href="https://www.w3.org/WAI/demos/bad/">W3C's Before and After Demonstration (BAD) </a></li>
    <li><a href="https://www.a11yproject.com/checklist/">A11y Project Checklist</a></li>
    <li><a href="https://webaim.org/intro/">WebAim (Web Accessibility in Mind)</a></li>
    <li><a href="https://webaim.org/intro/">WDN Web Docs</a></li>
    <li><a href="https://www.section508.gov/content/guide-accessible-web-design-development/">Section 508 Guide</a></li>
    <li><a href="https://assistivlabs.com/">Assistive Labs - Online screen reader</a></li>
    <li><a href="https://www.washington.edu/accessibility/">University of Washington Accessability Technology</a></li>
    <li><a href="http://iadp.ahs.illinois.edu/">University of Illinois' IADP course</a></li>
    <li><a href="https://assistivlabs.com/">Udacity: Web Accessibility by Google </a></li>
</ul>

<br>
<h2><u>Help Out</u></h2>
<p>See the following link if you would like to help contribute to making a more accessible world</p>
<ul style="font-size: 1.2em">
    <li><a href="https://nomouse.org/">#NoMouse </a></li>
    <li><a href="https://www.accessibilityassociation.org/s/">IAAP</a></li>
    <li><a href="https://knowbility.org/">Knowbility</a></li>
    <li><a href="https://www.respectability.org/">RespectAbility</a></li>
    <li><a href="https://nomouse.org/">W3C's guide on reporting poor accessability </a></li>
</ul>
<p>Local causes in Texas</p>
<ul style="font-size: 1.2em">
    <li><a href="https://www.txdisabilities.org/">Coalition of Texans with Disabilities (CTD)</a></li>
    <li><a href="https://www.disabilityrightstx.org/en/home/">Disability RIghts Texas</a></li>
</ul>
<p style="text-align:center; margin-top:7em">Presented by Ankit Yande (2022)</p>
<p style="text-align:center;">This website was created in partial fulfillment of the requirements for completion of the Digital Arts & Media citification of the Bridging Disciplines Program at The University of Texas at Austin</p>
</div>

    
