<div class="shell" shell #scrollContent>
    <h1 style="font-size:9vw; font-weight:800; padding-top: 3vh">Screen Readers</h1>
    <div class="slide-spacer"></div>
    <br>
    <h3>Many internet users have visual disabilities that require them to rely on screen readers.</h3>
    <br>
    <h3>Screen readers are an assistive technology that allow users to navigate a web page. They convert HTML elements
        into text and provide key stroke commands to perform various operations.</h3>
    <br>
    <h3>In the follow simulation, you will have the opportunity to navigate an example ecommerce site using
        a screen reader and no visual cues.</h3>
    <br>
    <h3>
        <a routerLink="/screen-reader" class="hover-underline-animation" style="font-size: 2.5rem">
            Click here to start >
        </a>
    </h3>
    <div style="height:5vh"></div>
</div>