<div class="shell" shell #scrollContent>
    <h1 style="font-size:10vw; font-weight:800; padding-top: 20vh">Dexterity</h1>
    <div class="slide-spacer"></div>

    <div data-scroll data-scroll-class="scroll-class" data-scroll-repeat="true" class="stagger-in">
        <h3> Some users have limited dexterity making it hard for them to use mice or other pointing devices.</h3>
    </div>
    <div class="slide-spacer"></div>

    <div data-scroll data-scroll-class="scroll-class" data-scroll-repeat="true" class="stagger-in">
        <h3>In this simulation you will need to fill out a form before time runs out.</h3>
    </div>
    <div class="slide-spacer"></div>

    <div data-scroll data-scroll-class="scroll-class" data-scroll-repeat="true" class="stagger-in">
        <h3><a routerLink="/dexterity-mouse" class="hover-underline-animation">Click here to start ></a></h3>
    </div>
    <div style="height:40vh"></div>

</div>