<div class="shell" shell #scrollContent>
    <h1 style="font-size:10vw; font-weight:800; padding-top: 10vh">Dexterity</h1>
    <div class="slide-spacer"></div>
    <br>
    <h3> Some users have limited dexterity and motor control making it hard for them to use mice or other pointing devices.</h3>
    <br>
    <h3>In the following simulation you will need to fill out a form before time runs out.</h3>
    <br>
    <h3>
        <a routerLink="/dexterity-mouse" class="hover-underline-animation" style="font-size: 2.5rem">
            Click here to start >
        </a>
    </h3>
    <div style="height:10vh"></div>
</div>