<div class="shell" shell #scrollContent>
    <h1 style="font-size:10vw; font-weight:800; padding-top: 20vh">Welcome!</h1>
    <div class="scroll-down"></div>
    <div class="spacer"></div>

    <div data-scroll data-scroll-class="scroll-class" data-scroll-repeat="true" class="stagger-in">
        <h3> As of 2022, <span class="mark">96.8%</span> of the top one million websites don't offer full accessibility,
            making it hard for millions of users to use the web on a daily basis.</h3>
    </div>
    <div class="spacer"></div>

    <div data-scroll data-scroll-class="scroll-class" data-scroll-repeat="true" class="stagger-in">
        <h3>This website contains a series of simulations that are designed to highlight the difficulties of navigating
            the web when it was not designed with accessibility in mind.</h3>
    </div>
    <div class="spacer"></div>

    <div data-scroll data-scroll-class="scroll-class" data-scroll-repeat="true" class="stagger-in">
        <h3><a routerLink="/dexterity-mouse" class="hover-underline-animation">Click here to start ></a></h3>
    </div>
    <div style="height:40vh"></div>

</div>