<div class="ScreenReaderWrapper">

    <button onclick="read()">Click</button>

    <ul tabindex="-1">
        <li tabindex="-1"><a href="#home">Home</a></li>
        <li tabindex="-1"><a href="#news">News</a></li>
        <li tabindex="-1"><a href="#contact">Contact</a></li>
        <li tabindex="-1"><a href="#about">About</a></li>
    </ul>

    <p tabindex="-1"> this is a paragraph </p>
    <p tabindex="-1"> this is a paragraph 2</p>
    <p tabindex="-1"> this is a paragraph 3</p>
    <p tabindex="-1"> this is a paragraph 4</p>

    <button onclick="read()">Click</button>

    <table #table tabindex="-1">
        <tr tabindex="-1">
            <td tabindex="-1"></td>
            <th tabindex="-1">NotBook</th>
            <th tabindex="-1">NotBook Pro</th>
            <th tabindex="-1">Notbook Air</th>
        </tr>
        <tr tabindex="-1">
            <th tabindex="-1">Price</th>
            <td tabindex="-1">$999</td>
            <td tabindex="-1">$1299</td>
            <td tabindex="-1">$749</td>
        </tr>
        <tr tabindex="-1">
            <th tabindex="-1">RAM</th>
            <td tabindex="-1">512GB</td>
            <td tabindex="-1">512GB</td>
            <td tabindex="-1">256GB</td>
        </tr>
        <tr tabindex="-1">
            <th tabindex="-1">Storage</th>
            <td tabindex="-1">2TB</td>
            <td tabindex="-1">2TB</td>
            <td tabindex="-1">2TB</td>
        </tr>
        <tr tabindex="-1">
            <th tabindex="-1">Battery Life</th>
            <td tabindex="-1">16 hrs</td>
            <td tabindex="-1">20 hrs</td>
            <td tabindex="-1">16 hrs</td>
        </tr>
    </table>
    <button onclick="read()">Click</button>

</div>

<!-- <div class="ScreenReaderWrapper">

    <button onclick="read()">Click</button>

    <ul >
        <li ><a href="#home">Home</a></li>
        <li ><a href="#news">News</a></li>
        <li ><a href="#contact">Contact</a></li>
        <li ><a href="#about">About</a></li>
    </ul>

    <p > this is a paragraph </p>
    <p > this is a paragraph 2</p>
    <p > this is a paragraph 3</p>
    <p > this is a paragraph 4</p>

    <button onclick="read()">Click</button>

    <table #table >
        <tr >
            <td ></td>
            <th >NotBook</th>
            <th >NotBook Pro</th>
            <th >Notbook Air</th>
        </tr>
        <tr >
            <th >Price</th>
            <td >$999</td>
            <td >$1299</td>
            <td >$749</td>
        </tr>
        <tr >
            <th >RAM</th>
            <td >512GB</td>
            <td >512GB</td>
            <td >256GB</td>
        </tr>
        <tr >
            <th >Storage</th>
            <td >2TB</td>
            <td >2TB</td>
            <td >2TB</td>
        </tr>
        <tr >
            <th >Battery Life</th>
            <td >16 hrs</td>
            <td >20 hrs</td>
            <td >16 hrs</td>
        </tr>
    </table>
    <button onclick="read()">Click</button>

    </div> -->