<div class="ScreenReaderWrapper">
    <button onclick="read()">Click</button>
    <ul tabindex="-1">
        <li tabindex="-1"><a href="#home">Home</a></li>
        <li tabindex="-1"><a href="#news">News</a></li>
        <li tabindex="-1"><a href="#contact">Contact</a></li>
        <li tabindex="-1"><a href="#about">About</a></li>
    </ul>
    <p tabindex="-1"> this is a paragraph </p>
    <p tabindex="-1"> this is a paragraph 2</p>
    <p tabindex="-1"> this is a paragraph 3</p>
    <p tabindex="-1"> this is a paragraph 4</p>
    <button onclick="read()">Click</button>
</div>