.hide_mouse {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: none !important;
}

button {
    cursor: none !important;
}

input, label {
    cursor: none !important;
    pointer-events: none;
}

form {
    border-style: solid;
    padding: 60px;  
    font-size: 0.7rem;
}

.pointer {
    z-index: 100;
    position: absolute;
    transition: ease-in-out;
    transition: left ease-in-out;
}