.hide_mouse {
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: none !important;
}

form{
    background-color: white;
    color: black;
}

button {
    cursor: none !important;
}

input, label {
    cursor: none !important;
    pointer-events: none;
}

form {
    border-style: solid;
    padding: 60px;  
    font-size: 0.7rem;
}

.pointer {
    z-index: 90;
    position: absolute;
    transition: ease-in-out;
    transition: left ease-in-out;
}