<div class="shell" shell #scrollContent>
    <h1 style="font-size:10vw; font-weight:800; padding-top: 20vh">Color Contrast</h1>
    <div class="slide-spacer"></div>

    <div data-scroll data-scroll-class="scroll-class" data-scroll-repeat="true" class="stagger-in">
        <h3> Many internet users users have some form of vision impairments, even with glasses</h3>
    </div>
    <div class="slide-spacer"></div>

    <div data-scroll data-scroll-class="scroll-class" data-scroll-repeat="true" class="stagger-in">
        <h3>In this simulation you will be presented a map of the United States that shows COVID severity by County.</h3>
    </div>
    <div class="slide-spacer"></div>

    <div data-scroll data-scroll-class="scroll-class" data-scroll-repeat="true" class="stagger-in">
        <h3>Your goal will be to select the severity of a highlighted region when the map is filtered through a color blindness lense </h3>
    <div class="slide-spacer"></div>

    <div data-scroll data-scroll-class="scroll-class" data-scroll-repeat="true" class="stagger-in">
        <h3><a routerLink="/color-filter" class="hover-underline-animation">Click here to start ></a></h3>
    </div>
    <div style="height:40vh"></div>

</div>