<div class="shell" shell #scrollContent>
    <h1 style="font-size:9vw; font-weight:800; padding-top: 5vh">Color Contrast</h1>
    <div class="slide-spacer"></div>
    <br>
    <h3>People have different levels of color sensitivity that may cause them to have different levels of color blindness.</h3>
    <br>
    <h3>Choosing colors with high contrast makes your website more legible.</h3>
    <br>
    <h3>In the following simulation you will be presented a map of the United States that shows COVID severity by county. Your goal will be to select the severity of a highlighted region when the map is filtered through a color blindness lense </h3>
    <br>
    <h3>
        <a routerLink="/color-filter" class="hover-underline-animation" style="font-size: 2.5rem">
            Click here to start >
        </a>
    </h3>
    <div style="height:5vh"></div>
</div>