/* You can add global styles to this file, and also import other style files */
@import '~locomotive-scroll/dist/locomotive-scroll.css';

body {
    font-family: 'Poppins', sans-serif;
    overscroll-behavior: none;
    box-sizing: border-box;
    background-color: #1f1f1f;
    color: #fff;
}

img {
    vertical-align: inherit;
}