.shell {
    background: #1f1f1f;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    padding: 10em
}

.mark {
    background: #ffff00;
    color: #1f1f1f;
}

.stagger-in {
    opacity: 0;
    transform: translate(50%, 0);
    transition: opacity 3s ease-in-out, transform 1s ease-in-out;
}

.stagger-in h3 {
    font-size: 3.5vw;
    font-weight: bold;
    text-align: left;
    line-height: 5.5vw;
}

.slide-spacer {
    height: 60vh
}

.scroll-class {
    opacity: 1;
    transform: translate(0%, 0)
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
